html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(225, 235, 249);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(165, 186, 177);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(224, 236, 231);
    min-height: 150px;
}
.header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.content {
    background-color: rgb(224, 236, 231);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(165, 186, 177);
    min-height: 150px;
}